@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.15em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px black;
  background-color: #0b1426;
}

body::-webkit-scrollbar-thumb {
  background-color: #ced6f5;
}